name: Deploy BBJ Laravel Apps

on:
  push:
    branches:
      - main

jobs:
  build-vite:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22
          cache: 'npm'

      - name: Install NPM dependencies
        run: npm ci

      - name: Build assets with Vite
        run: npm run build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: vite-build
          path: public/build

  docker-build:
    runs-on: ubuntu-latest
    needs: build-vite

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Download Vite build artifacts
        uses: actions/download-artifact@v4
        with:
          name: vite-build
          path: public/build

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{secrets.DOCKER_USERNAME}}/${{ github.event.repository.name }}:latest

  deploy:
    runs-on: ubuntu-latest
    needs: docker-build

    steps:
      - name: Deploy on VPS
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.HOST_IP }}
          username: ${{ secrets.HOST_USERNAME }}
          password: ${{ secrets.HOST_PASSWORD }}
          port: ${{ secrets.HOST_PORT }}
          script: |
            cd /media/${{ github.event.repository.name }}
            docker compose pull
            docker compose down
            docker compose up -d
